body {
	margin: 0;
	background-color: #000;
	background-image: radial-gradient(ellipse at top, #1e6a8b 0.0%, #206382 11.1%, #225c7a 22.2%, #235571 33.3%, #234e69 44.4%, #234760 55.6%, #224058 66.7%, #213a50 77.8%, #1f3347 88.9%, #1d2d3f 100.0%);
	overflow: hidden;
}

#c {
	display: block;
	touch-action: none;
	transform: translateZ(0);
}

.score-lbl {
	position: absolute;
	top: 0.65em;
	left: 0.65em;
	font-family: monospace;
	font-size: calc(14px + 2vw + 1vh);
	font-weight: bold;
	color: rgba(255, 255, 255, 0.75);
	pointer-events: none;
	user-select: none;
}
